<%- include('../include/head.ejs')%>
<body>
    <%- include('../include/header.ejs')%>

    <!--
    <form method="post" action="/data" enctype="multipart/form-data">
        <label>Upload Data</label><br><br>
        <input
        type="file"
        name="csvfile"
        >
        <br><br>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>-->


    <form method="post" action="/">

        
    </form>

    <form method="post">

        
    </form>

    <form method="post">

       
    </form>

    <form method="post">

       
    </form>
</body>
</html>