<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/files">Uploads</a></li>
            <li><a href="/process">Process</a></li>
        </ul>
    </nav>
</header>